.user{
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 15px;
  display: flex;
  gap: 15px;
  border-radius: 3px;
  align-items: center;
}
.userImgWrapper{
  width: 100px;
  height: 100px;
}
.userImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userInfo{
  display: flex;
  flex-direction: column;
}
.userInfoItem{
  display: flex;
  gap: 10px;
}
.punkt{
  font-size: 13px;
  color: #ffffffaf;
  display: block;
  width: 50px;
}
.followBtn{
  margin-left: auto;
  height: 40px;
  width: 120px;
}