.header{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  grid-area: hdr;
  background: #2cc038;
}
.logo{
  width: 50px;
  height: 70px;
}
.logoImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loginLink{
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 23px;
}
.loginBtn{
  background: #a50153;
  color: #ffffff;
  padding: 10px 27px;
  border-radius: 5px;
  border: 2px solid #e0b1c9;
  transition: .3s;
  &:hover{
    background: #860246;
    border: 2px solid #a50153;
  }
}