.app-wrapper{
    height: 100vh;
    grid-template-areas:
   "hdr hdr"
   "nv cnt";
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
}
.content{
    grid-area: cnt;
    background: #af162a;
}