.dialogsWrapper{
  display: grid;
  grid-template-columns: 2fr 8fr;
  height: 100%;
}
.dialogs{
  padding: 10px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
.messages{
  padding: 10px;
  color: #ffffff;
  display: grid;
  background: #1dcc97;
}
.messagesWrapper{
  display: grid;
  grid-template-rows: 41px 41px 41px;
  align-items: start;
  grid-gap: 25px;
}
.textareaWrapper{
  padding-left: 30px;
}
textarea{
  height: 150px;
  width: 70%;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
}
.btn{
  background: #04976B;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 10px 23px;
  box-shadow: none;
  display: block;
  cursor: pointer;
}
.errorMessage{
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}